html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 0px;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* **************************** NAVBAR */
.companyemail {
  display: flex;
  text-align: left;
  margin-left: 5rem;
}
.left-nav a + a {
  margin-left: 40px;
  color: black;
}
.left-nav {
  padding-right: 5%;
  color: black;
  padding-top: 20px;
}
.left-nav-a {
  color: black !important;
  font-family: objektiv-mk1;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.11em;
}

.left-nav-a:hover {
  color: grey !important;
}

.big-logo {
  padding-left: 27px;
  color: black !important;
  font-weight: bolder;
  font-size: 39px;
}
.navbar {
  padding: 0;
  padding-bottom: 35px;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: white;
}
.left-nav-register {
  background-color: #83e5de;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  color: #000 !important;
  padding: 9px 18px;
  font-size: 12px;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}
/* 
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 100px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

 */

.navbar-toggler-icon {
  background-color: grey;
}

@media screen and (max-width: 580px) {
  .navbar {
    padding: 20px 10px !important;
  }
  .left-nav-register {
    padding: -2rem !important;
  }
  .navbar-collapse {
    background-color: lightseagreen;
  }
}

.Nav_dropdown {
  color: #000;
  background-color: white;
  border: none !important;
  margin-left: 1rem;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #fff !important;
}
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
  border: none !important;
}
.btn-secondary.dropdown-toggle {
  border-color: none !important;
}
.Nav_dropdown:hover {
  background-color: white;
  color: #000;
  border: none;
}

.Nav_dropdown:focus {
  background-color: white;
  color: #000;
  border: none;
  box-shadow: none;
  border-color: white !important;
}

.dropdown-item {
  font-size: 13px;
}
.fa-shopping-cart {
  color: grey;
}
.fa-sign-out-alt {
  color: grey;
}
/* **************************** END NAVBAR */

/* **************************** BANNER */
.banner {
  width: 100%;
  height: calc(100vh - 106px);
  background-color: red;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  padding-top: 6rem;
}
.banner p {
  font-size: 13px;
}
.banner-image {
  height: calc(100vh - 56px);
  background-color: lightblue;
  -webkit-tap-highlight-color: transparent;
}

.carousel-caption {
  bottom: 180px;
  color: white !important;
}

@media screen and (max-width: 800px) {
  .carousel-caption {
    /* display: none; */
    bottom: 120px !important;
  }
  .carousel-caption span {
    font-weight: bold;
    font-size: 29px !important;
  }
  .carousel-caption p {
    letter-spacing: 3px;
    font-size: 14px;
  }
}
.carousel-caption span {
  font-weight: bold;
  font-size: 45px;
}

/* .banner .active {
  display: ;
} */

.carousel-caption p {
  letter-spacing: 3px;
}

.carousel-caption button {
  background-color: #83e5de;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  color: #000 !important;
  padding: 9px 18px;
  font-size: 18px;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 25px;
}

.carousel-control-prev-icon {
  display: none;
}
.carousel-control-next-icon {
  display: none;
}
/* **************************** END BANNER */

/* **************************** HOWITWORK */
.howitwork {
  padding-top: 16rem;
  padding-right: 10px;
  padding-bottom: 5rem;
}

.howitwork h1 {
  font-style: italic;
  padding-bottom: 5rem;
}
.single-card {
  border: none;
  width: 15.5rem !important;
}
.card-text {
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.7em;
  text-transform: none;
  color: #000;
  text-align: center;
  padding-top: 30px;
}
.card-title {
  font-weight: 400 !important;
  font-size: 20px;
}

.howitwork-image {
  transform: translate(0, 10px) rotate(0deg);
}

@keyframes shake-howitwork-image {
  0% {
    transform: translate(-1px, 9px) rotate(0deg);
  }
  33% {
    transform: translate(-1px, 11px) rotate(0deg);
  }
  66% {
    transform: translate(1px, 11px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 9px) rotate(0deg);
  }
}
.howitwork-image:hover {
  animation: shake-howitwork-image 0.16s infinite alternate;
}

@media only screen and (max-width: 800px) {
  .howitwork-card .container {
    padding-left: 4rem;
  }
}
/* **************************** END HOWITWORK */

/* **************************** SERVICES */
.services-section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}
.service_background,
.service_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.service_background {
  background-image: url("http://laundry-service-singapore.com/wp-content/uploads/dreamstime_s_78373167.jpg");
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.service_overlay {
  background-color: rgba(76, 106, 179, 0.62);
  z-index: 2;
  min-height: 500px;
}
.service_content {
  position: relative;
  z-index: 3;
}
@media only screen and (max-width: 800px) {
  .service_content .container {
    padding-left: 3rem;
  }
  .service_content button {
    margin-right: 5rem;
  }
}
.service_content .container {
  background-color: none !important;
}

.services-section h1 {
  font-style: italic;
  padding-bottom: 5rem;
  color: white;
}
/* .service-img {
  width: 120px;
  height: 120px;
  margin-left: 70px;
} */
.single-card-service {
  width: 100%;
  float: left;
  position: relative;
  padding: 15px;
  background-color: none !important;
}

.single-card-service h3 {
  text-align: left;
  font-size: 20px;
}
.single-card-service p {
  padding-top: 0px;
  color: white;
  text-align: left;
  font-size: 15px;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
.line {
  border-left: 2px solid white;
  height: 130px;
}
.service_button {
  color: white;
  border-color: white;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  text-decoration: none;
}
.service_button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: #666;
  border: 1px solid transparent;
}

/* **************************** END SERVICES */

/* **************************** SMALL_BANNER */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-8 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.small_banner {
  min-height: 500px;
  background-color: #83e5de;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: lowercase;
  text-align: center;
  white-space: pre-wrap;
  font-weight: 700;
  font-style: italic;
  padding-top: 10rem;
}
.small_banner button {
  color: white;
  background-color: black;
  font-size: 15px;
  margin-top: 40px;
  border: none;
  max-width: 148.75px;
  line-height: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 6.5rem;
  padding-right: 10px;
  padding-left: 10px;
}

.small_banner_pic {
  /* background-image: url("https://st3.depositphotos.com/8687452/16794/i/1600/depositphotos_167943794-stock-photo-shirt-fold-stack.jpg"); */
  background-image: url("http://ejournalz.com/wp-content/uploads/2017/05/Wash-Clothes.jpg");
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.small_banner_schedule {
  background-image: url("https://s3-ap-southeast-1.amazonaws.com/canifablog/blog/wp-content/uploads/2017/10/24093049/cach-la-ui-quan-tay-nam.jpeg");
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}
.small_banner_schedule h1 {
  padding-top: 11rem;
  text-align: left;
  padding-left: 4rem;
  font-size: 30px;
    color: #fff;
    font-weight: 500;
}

/* .fly-in{
  position: absolute;
  left: 50%;
  top: 50%;
  list-style: none;
  transform: translateX(-50%) translateY(-50%);
}
.fly-in li {
  display: inline-block;
  margin-right: 30px;
  font-family: sans-serif,helvetica;
  font-weight: 300;
  font-size: 38px;
  color: #e7e7e7;
  opacity: 1;
  transition: all 2.8s cubic-bezier(0.6, -.005, 0.32, 1.75);
}
.fly-in.hidden li {
  opacity: 0;
}
.fly-in.hidden li:nth-child(1) {
  transform: translateX(150px) translateY(-170px); 
}
.fly-in.hidden li:nth-child(2) {
  transform: translateX(-210px) translateY(170px); 
}
.fly-in.hidden li:nth-child(3) {
  transform: translateX(20px) translateY(-100px); 
}
.fly-in.hidden li:nth-child(4) {
  transform: translateX(-100px) translateY(-20px); 
}
.fly-in.hidden li:nth-child(5) {
  transform: translateX(-70px) translateY(-200px); 
}
.fly-in.hidden li:nth-child(6) {
  transform: translateX(200px) translateY(70px); 
}
.fly-in.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px); 
}
.fly-in.hidden li:nth-child(8) {
  transform: translateX(30px) translateY(-100px); 
}
.fly-in.hidden li:nth-child(9) {
  transform: translateX(100px) translateY(-170px); 
}
.fly-in.hidden li:nth-child(10) {
  transform: translateX(50px) translateY(50px); 
} */

/* **************************** END SMALL_BANNER */

/* **************************** Banner-running */
#banner_running {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 49px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  position: relative;
  font-weight: 900;
  font-size: 4em;
}

#banner_running_text {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
#running_letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.ml16 {
  color: #402d2d;
  padding: 5px 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/* **************************** FOOTER */
.footer {
  min-height: 400px;
  background-color: #282f32;
  width: 100%;
  padding: 40px 0px;
  color: white;
  margin-top: 3.5rem;
}

.footer_abt p {
  color: #dddddd;
  line-height: 27px;
  text-align: left;
  font-size: 14px;
}
.footer_abt2 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.footer_abt2 h3 {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
  color: #fff;
  text-align: left;
}
.footer_abt2 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}
.footer_abt2 ul li a {
  display: block;
  margin-bottom: 7px;
  position: relative;
  background-position: 0px 8px;
  color: #dddddd;
  text-decoration: none;
  text-align: left;
}
.footer_abt2 a {
  text-decoration: none;
  color: #dddddd;
}

.copyright {
  float: left;
  width: 100%;
  padding: 17px 0px;
  border-top: 1px solid #384145;
  background: #2f373a;
  font-size: 14px;
  height: 60px;
  text-align: left;
  margin-top: 4.1rem;
  margin-bottom: 0px;
  color: #dddddd;
}
@media (min-width: 1280px) {
  .container {
    width: 1260px;
  }
}
.pull-right {
  padding-left: 5.5rem;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 70px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* **************************** LOGIN */
.Form_Login {
  width: 100%;
  height: calc(100vh - 116px);
  padding-top: 3rem;
}

.register_form_register {
  padding-top: 1.5rem !important;
  font-size: 14px;
}
.logo_form_register {
  padding-top: 6.8rem !important;
}
.signup_login_register {
  padding-top: 0px !important;
  justify-content: center;
  line-height: 0px !important;
  display: flex;
}
.signup_login_register a {
  display: inline;
  line-height: 0px;
}
.form-control-register {
  width: 170px !important;
}

@media only screen and (max-width: 800px) {
  .register_form_register .form-group {
    margin-bottom: 0px;
  }
}

.Form_Login h1 {
  font-size: 30px;
  padding-bottom: 1.5rem;
}

#form-control-login {
  background-color: #ffffff !important;
  width: 270px !important;
  text-align: center !important;
  margin: 0px auto 0 auto !important;
  display: block !important;
  width: 100%;
  height: 38px !important;
  padding: 6px 12px !important;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #1b75bc !important;
  border-radius: 50px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

#button_login {
  cursor: pointer;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #83e5de;
  border-radius: 50px;
  width: 270px;
  font-family: ProximaNova-Regular !important;
  font-size: 18px;
  border-color: white !important;
  padding: 0.4768rem 0.75rem !important;
  margin-bottom: 2rem;
}
.signup_login {
  line-height: 10px;
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  padding-top: 0.7rem;
}

.header_forgot {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.input-container-forgot {
  display: flex;
  justify-content: center;
  height: 2rem;
}
.input-container-forgot input {
  width: 17rem;
}
.button-forgot button {
  margin-right: 10rem;
}
/* */
.signup_login a {
  /* color: #83e5de; */
  color: #000;
  font-size: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: none;
  margin-left: 0.5rem;
}
#logo_login {
  padding-top: 9rem;
}

/* **************************** SERVICE CHECK */
.service_check {
  padding-top: 9rem;
}

.service_check h1 {
  font-family: ProximaNovaSoft-Regular;
  font-size: 30px;
  line-height: 44px;
  /* color: #83e5de; */
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

#service_check_button {
  color: #000;
  cursor: pointer;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #83e5de;
  border-radius: 50px;
  width: 270px;
  font-family: ProximaNova-Regular !important;
  font-size: 14px;
  border-color: white !important;
  padding: 0.5768rem 0.75rem !important;
  margin-bottom: 2rem;
}
.fa-sign-in-alt {
  font-size: 2.3rem;
  color: #83e5de;
  position: relative;
  padding-top: 26px;
}
#circle {
  width: 95px;
  height: 96px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 57px;
  border: #83e5de solid;
  display: inline-block;
}

.zipcode_title {
  font-size: 14px;
  line-height: 8px;
}
.modal-title {
  font-size: 20px;
  margin: 0 0 2px 0;
  line-height: 1.3;
  text-align: center;
  font-family: objektiv-mk1;
  font-weight: 600;
  padding-top: 2rem;
  padding-right: 10px;
  padding-left: 10px;
}

.modal-subtitle {
  font-size: 18px;
  margin: 20px 0 5px 0;
  text-align: center;
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05em;
  line-height: 1.7em;
}

.modal-footer-service {
  border-top: none;
  justify-content: center;
}
.modal-footer-service button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal-content {
  border: none;
  /* padding-bottom: 5px; */
  background-color: #83e5de;
}
#service-modal-input {
  width: 350px !important;
}
.modal-form-service {
  padding-left: 4rem;
  padding-top: 1.5rem;
}
#modal-label-service {
  font-size: 14px;
}
.modal-thanks {
  text-align: center;
  font-size: 18px;
  padding-top: 1rem;
}
.choose-your-district {
  text-align: center;
}

.alert_link {
  padding-left: 3rem;
}
.fa-question-circle {
  color: black;
  font-size: 13px;
  position: relative;
}

/* **************************** DASHBOARD */
.dropbtn {
  background-color: #83e5de;
  color: black;
  padding: 8px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_filter {
  position: relative;
  display: inline-block;
}

.dropdown-filter-small {
  display: inline-block;
}

#total_div {
  display: contents;
}

#total_text {
  padding-left: 61.5rem;
  font-size: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown_filter:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_filter:hover .dropbtn {
  background-color: #3e8e41;
}


.dashboard_header {
  width: 100%;
  float: left;
  padding: 15px 0px;
  min-height: 100px;
  background: #eee;
  height: calc(43vh - 106px);
  margin-top: 6rem;
}
.dashboard_avatar {
  width: 95px;
  border-radius: 553px;
  margin-top: 16px;
}
.dashboard_userinfo h3 {
  margin-top: 0px;
  font-size: 20px;
  padding-top: 15px;
  color: #249bce;
  padding-bottom: 7px;
}
.dashboard_userinfo {
  padding-left: 2rem;
  text-align: left;
  line-height: 13px;
}
.dashboard_nav {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

@media only screen and (max-width: 800px) {
  .dashboard_nav {
    padding-left: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  .form-edit-profile {
    margin-right: 6rem;
  }
  .arrow-steps {
    font-size: 5px;
    display: inline-grid;
    padding-top: 14rem;
  }
  #step1 {
    width: 261px;
    margin-left: 2rem;
  }
  .schedule_col {
    float: left;
    width: 142%;
    padding: 15px 6px !important;
    border: 1px solid #aaa;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    text-align: center;
    margin: 2px;
    font-size: 10px !important;
    padding: 0px;
    height: 58px !important;
    background-color: mintcream;
  }
  .dateandtime_case1 .row {
    flex-wrap: nowrap;
  }
}

.dashboard_nav_col {
  font-weight: bold;
  border: 1px solid #ddd;
  color: #333;
  font-size: 15px;
  border-radius: 5px;
  position: relative;
  display: block;
  padding: 10px 12px;
  flex-grow: 0;
  padding: 0;
  border: none;
}
.dashboard_nav_col img {
  width: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.dashboard_nav_col .card {
  cursor: pointer;
  width: 20rem !important;
}

#icon_my_order {
  width: 45px;
  padding-top: 5px;
}


/* .dashboard_nav_col .card:focus {
  font-weight: bold;
} */

.dashboard_h5 {
  font-size: 15px;
  font-weight: 450 !important;
}

/* .dashboard_h5:focus {
  font-weight: 600;
} */

.dashboard_nav_col a {
  text-decoration: none;
  color: #000;
}

.dashboard_nav_col a:focus {
  font-weight: 600 !important;
}

.dashboard_nav_col a:hover {
  color: black;
}

.dashboard_nav_col .card-body {
  padding: 10px;
}
/* .dashboard_nav_col .card:focus {
  background: #f1f1f1;
} */

span.total_badge.badge.badge-dark {
  padding: 5px !important;
}




#order_history {
  display: inline-block;
  opacity: 1;
  margin-top: 3rem;

}
/* TABLE DASHBOARD */

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-responsive th {
  background: #525252;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-left: 33px;
  padding-right: 20px;
}

.table-responsive th+th {
  background: #525252;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-left: 20px;
  padding-right: 22px;
  overflow: hidden;
    width: 265px;
    padding-bottom: 18px;
}

.table-responsive th:first-child {
  background: #525252;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
} 

.table-responsive tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size: 15px;
}

.table-responsive thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.table .table-bordered td {
  padding: 12px 15px;
  font-size: 15px;
}

.table td .status.cancelled {
  background: #f44336;
}
.table td .status {
  padding: 3px 0px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}



/* **************************** SERVICES */
.service_main {
  height: calc(200vh - 106px);
  background-color: grey;
  padding-top: 7rem;
}
.service_banner {
  height: 200px;
  background-image: url("http://2.bp.blogspot.com/-a8D83LTuLp4/TkHJ4YzdQOI/AAAAAAAADmk/FTDy63FjRCc/s1600/MintSky.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ordering-process {
  display: flex;
  padding-top: 10rem;
}
.ordering-process .schedule_badge {
  padding: 1.25em 3.4em !important;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  border-radius: none;
}

.ordering-process img {
  width: 40px;
}
.badge {
  padding: 2.25em 3.4em !important;
}
.serv_was_box {
  float: left;
  width: 300px;
  border: 1px solid #ddd;
  height: 90px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  cursor: pointer;
  color: #aaa;
  margin: 0;
}
/* #serv_box3 {
  margin-top: 30px;
} */
/* #serv_box4 {
  margin-top: 30px;
} */
#serv1 {
  margin-left: 2rem;
}

#serv3 {
  margin-left: 2rem;
}
/* 
.schedule_badge::after {
  border-left: 22px solid !important;
  position: relative;
  right: -67px;
  top: -9px;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 20px solid #eeeeee;
  border-bottom: 30px solid transparent;
} */
.checkbox {
  visibility: hidden;
  /* display: none; */
}
.service_row {
  padding-left: 1rem;
}
.schedule_servicetype {
  padding-left: 4.5rem;
}

.schedule_servicetype h1 {
  font-size: 18px;
  padding-left: 1rem;
  padding-bottom: 20px;
}
.schedule_servicetype #schedule_row {
  padding-left: 1.5rem;
}

.serv_was_box:focus {
  color: #1976d2;
  border: 3px solid #1976d2 !important;
  font-weight: 600;
}

.focusing:focus {
  /* border: 1px solid #1976d2 !important; */
  font-weight: 600;
}
/* 
.text-sertype1:focus {
  color: #00539a;
} */

.schedule_button {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.schedule_button button + button {
  background: #00539a;
  padding: 8px 12px;
  margin: 0px 10px;
  color: white;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.schedule_button #previous_button {
  background: #666;
  padding: 8px 12px;
  margin: 0px 10px;
  color: white;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.schedule_button .disabled:hover {
  cursor: not-allowed;
}
.step1_icon {
  width: 40px;
  color: grey;
  border-color: grey;
}

.date_main {
  display: flex;
  padding-left: 1rem;
}

.schedule_col:focus {
  border: 1px solid #1976d2 !important;
  background: #1976d2 !important;
  color: white;
}
.schedule_col {
  float: left;
  width: 100%;
  padding: 4px 5px !important;
  border: 1px solid #aaa;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  text-align: center;
  margin: 10px;
  font-size: 13px;
  padding: 3px;
  height: 54px !important;
}
.schedule_col:hover {
  cursor: pointer;
}
.radio_btn {
  color: white;
  visibility: hidden;
  display: none;
}
.radio_btn:checked {
  border: 1px solid #1976d2 !important;
  background: #1976d2 !important;
}
.date-container {
  padding-top: 5px;
}
.date-container .day {
  font-weight: 500;
  font-size: 12px;
}
.schedule_time h3 {
  font-size: 14px;
  padding-left: 1rem;
  padding-bottom: 20px;
  padding-top: 1rem;
}

.schedule_address_detail h1 {
  font-size: 16px;
  padding-left: 4rem;
  padding-bottom: 20px;
  padding-top: 1rem;
  text-align: left;
}

.addre_main {
  display: flex;
}
.addre_box {
  border: 1px solid #aaa;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  cursor: pointer;
  height: 207px;
  width: 413px;
  margin-left: 4rem;
}

.addre_box:focus {
  border: 1px solid #1976d2 !important;
}

.addre_box .new button:focus {
  border: none;
}
.addre_box h3 {
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
}
.addre_head {
  display: flex;
  justify-content: space-between;
}
.addre_head button {
  padding: 0;
  background-color: white;
  border: none;
  margin-top: 1px;
  margin-right: 7px;
}
.addre_con {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding-top: 3rem;
}
.addre_con .add_address_button {
  background-color: white;
  border: none;
  color: darkblue;
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.new button {
  border: 0px;
  background: none;
  color: #01529a;
  cursor: pointer;
  padding-top: 5rem;
}

.schedule_banner {
  background-attachment: fixed !important;
  background-size: 100% !important;
  float: left;
    width: 100%;
    padding: 80px 0px;
    min-height: 200px;
}

@media (min-width: 1280px) {
  .schedule_banner .container {
      width: 1260px;
}
}
.schedule_banner .row {
  margin-right: -15px;
  margin-left: -15px;
}




/* .step-anchor .active .sa_inner:after {
  border-left: 20px solid #4baf50;
}
.sa_inner::after {
  position: relative !important;
  right: -20px;
  top: 0px;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 20px solid #eeeeee;
  border-bottom: 30px solid transparent;
} */

/* .date_main .radio_btn:checked + label.date-container:after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #1975d2;
}

.schedule_col::after:focus {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #1975d2;
} */

.first_date:focus {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #1975d2;
}

.schedule_result h1 {
  font-size: 18px;
  padding-left: 4rem;
  padding-bottom: 20px;
  text-align: left;
}

.schedule_result h3 {
  font-size: 15px;
  padding-bottom: 20px;
  text-align: left;
}
/* .service_result h3 {
  padding-left: 4rem;
} */
.service_result div {
  text-align: left;
  height: 35px;
  margin-left: 4rem;
}

.date_result {
  /* display: flex; */
  padding-top: 2rem;
}
.date_result h3 {
  padding-left: 4rem;
}

.schedule_date_detail {
  display: flex;
  padding-left: 4rem;
}

.date_detail_pickupdate {
  padding-left: 2rem;
  border: 1px solid gray;
  border-radius: 11px;
  padding: 40px;
  padding-left: 156px;
  font-weight: 600;
  padding: 35px;
  font-size: 13px;
  height: 90px;
  padding-top: 21px;
    line-height: 10px;
}

.date_detail_pickuptime {
  margin-left: 4rem;
    border: 1px solid gray;
    border-radius: 11px;
    font-weight: 600;
    font-size: 13px;
    padding: 42px;
    padding-left: 41px;
    height: 90px;
    width: 13.5rem;
    padding-top: 22px;
    line-height: 10px;
}
.date_small_p {
  font-size: 12px;
}
.address_result {
  padding-top: 2rem;
}

.address_result h3 {
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.address_result p {
  text-align: left;
  padding-left: 4rem;
  font-size: 15px;
}
.schedule_service_detail {
  border: 1px solid gray;
  border-radius: 11px;
  padding: 14px;
  padding-left: 17px;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 43px;
  font-size: 14px;
}

.Nav_dropdown:hover > .fa-user-circle {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-user-circle {
  padding-right: 8px;
}

@media screen and (min-width: 768px) {
  .show-grid col {
    flex: 0 0 16.666667% !important;
    max-width: 13.666667% !important;
  }
}
.ap_hw {
  cursor: pointer;
  border: 2px solid slategrey;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 13.666667% !important;
  }
}

.address-form-group label {
  color: slategrey;
}

.address_type label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.address-modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
}

.address-modal-footer button {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.address-modalheader {
  padding: 0;
  padding-bottom: 10px;
}

.dateandtime_case1 .col {
  flex-grow: 0 !important;
}
.dateandtime_case1 .col img {
  height: 40px;
}
.timefrom {
  display: inline-flex;
  padding: 7px;
  border: 0.5px solid #aaa;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
  color: darkslategrey;
  margin-left: 5rem;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 11px;
  padding-right: 8px;
}
.timefrom:focus {
  background-color: #337ab7;
  color: white;
}

/* Button Scroll to Top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #4c6e8c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 7px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Schedule badge */

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.container1 {
  font-family: "Lato", sans-serif;
  /* width: 2000px; */
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-left: 5rem;
}




@media only screen and (max-width: 800px) {
  .container1 {
    padding-left: 0rem;
  }
  .schedule_servicetype {
    padding-left: 1rem;
  }
}

.wrapper {
  display: table-cell;
  height: 400px;
  vertical-align: middle;
}

.nav {
  margin-top: 40px;
}

.pull-right {
  float: right;
}

a,
a:active {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #999;
}

/* Breadcrups CSS */

.arrow-steps .step {
  font-size: 14px;
  text-align: left;
  color: black !important;
  cursor: default;
  margin: 0 3px;
  padding: 16px 68px 16px 37px;
  min-width: 180px;
  float: left;
  position: relative;
  background-color: #d9e3f7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
  line-height: 6px;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0px;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 34px solid transparent;
  border-left: 17px solid #d9e3f7;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step span:before {
  opacity: 0;
  content: "✔";
  position: absolute;
  top: -2px;
  left: -20px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #23468c;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #83e5de;
}
.step span {
  font-size: 11px;
}

#step2 {
  margin-left: 2rem;
}
#step3 {
  margin-left: 2rem;
}
#step4 {
  margin-left: 2rem;
}
/* .edit_profile_formgroup{
  padding-top: 3.5rem;
  margin: 0px;
}
.edit_profile_formgroup .form-group {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
  float: left;
}

.edit_profile_formgroup .form-control {
  width: 400px;
  height: calc(1.4em + .75rem + 2px);
}

.edit_profile_formgroup .form-label {
  padding-right: 10px;
} */
.form-edit-profile {
  padding-top: 3rem;
  padding-left: 18rem;
}
.form-edit-profile .form-control {
  width: 380px;
  height: 34px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  font-size: 14px;
}
.form-edit-profile button {
  margin-right: 48rem;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 3px 8px;
  font-size: 14px;
}

.form-edit-profile .form-label {
  padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #aaa;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}
/* @media (min-width: 992px) */

.current_order {
  text-align: left;
  padding-top: 3rem;
}

.current_order h1 {
  padding-left: 6rem;
  font-size: 18px;
}

.current_order .col {
  padding-left: 2.5rem;
  max-width: 20%;
  font-size: 14px;
  line-height: 30px;
}

.cancel_button {
  border: none;
  color: white;
  padding: 7px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #f44336;
  border-radius: 5px;
  margin-left: 6.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.schedule-status {
  background: green;
  padding: 4px 2px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
}

.cancel-status {
  background: #F44336;
  padding: 3px 0px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

/* SERVICE */
.service_type_price {
  padding-top: 3rem;
}
.service_type_price .container .col {
  flex-grow: 0;
}

.service_type_price .container .col .card:hover {
  background-color: #83e5de;
    color: #fff;
}

.service_type_price .container .col .card {
  background: #eee;
  border: none;

}
.service_type_price .container .row {
  padding-left: 4rem;
}

.service_type_price .container .col .card-title {
  font-size: 16px;
  font-weight: 600 !important;
  padding-top: 10px;
}
.service_type_price .container .col .card-body {
  padding: 0.55rem;
}

.tab-pane {
  margin: 50px 0px;
  width: 68rem;
  display: inline-block;
  text-align: left;
}


.tab-pane p {
  text-align: left;
}

.table-bordered1 table td {
  padding: 12px 20px;
  font-size: 15px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  text-align: left;
  width: 36rem;
  border-top: none;
}

.table-bordered1 table td+td {
  background-color: #fff;
}

.table-bordered1 th {
  background: green;
  color: white;
  text-align: center;
  height: 36px;
}

.img_service {
  display: flex;
  justify-content: center;
}
.img_service img {
  width: 90px;
  padding: 0;
  border-radius: 180px;
  margin-top: 20px;
}

.fa-plus {
  font-size: 20px;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

#modal-header-ad {
  padding: 0;
  border: none;
  display: block;
}

#modal-header-ad img {
  max-width: 100%;
  width: 500px;
  padding: 0;
  margin: 0;
}

#modal-header-ad .modal-title {
  padding: 0;
}

#modal-body-ad {
  background-color: #fff;
  margin-top: -2px;
  text-align: center;
}
#modal-body-ad h1 {
  font-size: 1.5rem;
  padding-top: 20px;
  font-weight: 700;
}
#modal-body-ad p {
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 500;
  padding-bottom: 10px;
}
#modal-footer-ad {
  background-color: #fff;
}

#modal-content-ad {
  border: 8px solid #83e5de;
  border-radius: 10px;
  margin-top: 108px;
}

#discount {
  font-size: 22px;
  color: blue;
}
.fa-percentage {
  font-size: 20px;
  padding-right: 6px;
  color: blue;
}

