html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 0px;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* **************************** NAVBAR */
.companyemail {
  display: flex;
  text-align: left;
  margin-left: 5rem;
}
.left-nav a + a {
  margin-left: 40px;
  color: black;
}
.left-nav {
  padding-right: 5%;
  color: black;
  padding-top: 20px;
}
.left-nav-a {
  color: black !important;
  font-family: objektiv-mk1;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.11em;
}

.left-nav-a:hover {
  color: grey !important;
}

.big-logo {
  padding-left: 27px;
  color: black !important;
  font-weight: bolder;
  font-size: 39px;
}
.navbar {
  padding: 0;
  padding-bottom: 35px;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: white;
}
.left-nav-register {
  background-color: #83e5de;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  color: #000 !important;
  padding: 9px 18px;
  font-size: 12px;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}
/* 
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 100px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

 */

.navbar-toggler-icon {
  background-color: grey;
}

@media screen and (max-width: 580px) {
  .navbar {
    padding: 20px 10px !important;
  }
  .left-nav-register {
    padding: -2rem !important;
  }
  .navbar-collapse {
    background-color: lightseagreen;
  }
}

.Nav_dropdown {
  color: #000;
  background-color: white;
  border: none;
  margin-left: 1rem;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: none;
}
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-secondary.dropdown-toggle {
  border-color: none !important;
}
.Nav_dropdown:hover {
  background-color: white;
  color: #000;
  border: none;
}

.Nav_dropdown:focus {
  background-color: white;
  color: #000;
  border: none;
  box-shadow: none;
}

.dropdown-item {
  font-size: 13px;
}
.fa-shopping-cart {
  color: grey;
}
.fa-sign-out-alt {
  color: grey;
}
/* **************************** END NAVBAR */

/* **************************** BANNER */
.banner {
  width: 100%;
  height: calc(100vh - 106px);
  background-color: red;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  padding-top: 6rem;
}

.banner-image {
  height: calc(100vh - 56px);
  background-color: lightblue;
  -webkit-tap-highlight-color: transparent;
}

.carousel-caption {
  bottom: 190px;
  color: black !important;
}

@media screen and (max-width: 580px) {
  .carousel-caption {
    /* display: none; */
    bottom: 100px !important;
  }
  .carousel-caption h3 {
    font-weight: bold;
    font-size: 29px !important;
  }
  .carousel-caption p {
    letter-spacing: 3px;
  }
}
.carousel-caption h3 {
  font-weight: bold;
  font-size: 45px;
}

.carousel-caption p {
  letter-spacing: 3px;
}

.carousel-caption button {
  background-color: #83e5de;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  color: #000 !important;
  padding: 9px 18px;
  font-size: 18px;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 25px;
}
/* **************************** END BANNER */

/* **************************** HOWITWORK */
.howitwork {
  padding-top: 16rem;
  padding-right: 10px;
  padding-bottom: 5rem;
}

.howitwork h1 {
  font-style: italic;
  padding-bottom: 5rem;
}
.single-card {
  border: none;
  width: 15.5rem !important;
}
.card-text {
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.7em;
  text-transform: none;
  color: #000;
  text-align: center;
  padding-top: 30px;
}
.card-title {
  font-weight: 400 !important;
  font-size: 20px;
}

.howitwork-image {
  transform: translate(0, 10px) rotate(0deg);
}

@keyframes shake-howitwork-image {
  0% {
    transform: translate(-1px, 9px) rotate(0deg);
  }
  33% {
    transform: translate(-1px, 11px) rotate(0deg);
  }
  66% {
    transform: translate(1px, 11px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 9px) rotate(0deg);
  }
}
.howitwork-image:hover {
  animation: shake-howitwork-image 0.16s infinite alternate;
}
/* **************************** END HOWITWORK */

/* **************************** SERVICES */
.services-section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}
.service_background,
.service_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.service_background {
  background-image: url("http://laundry-service-singapore.com/wp-content/uploads/dreamstime_s_78373167.jpg");
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.service_overlay {
  background-color: rgba(76, 106, 179, 0.62);
  z-index: 2;
  min-height: 500px;
}
.service_content {
  position: relative;
  z-index: 3;
}
.service_content .container {
  background-color: none !important;
}

.services-section h1 {
  font-style: italic;
  padding-bottom: 5rem;
  color: white;
}
/* .service-img {
  width: 120px;
  height: 120px;
  margin-left: 70px;
} */
.single-card-service {
  width: 100%;
  float: left;
  position: relative;
  padding: 15px;
  background-color: none !important;
}

.single-card-service h3 {
  text-align: left;
  font-size: 20px;
}
.single-card-service p {
  padding-top: 0px;
  color: white;
  text-align: left;
  font-size: 15px;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
.line {
  border-left: 2px solid white;
  height: 130px;
}
.service_button {
  color: white;
  border-color: white;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  text-decoration: none;
}
.service_button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: #666;
  border: 1px solid transparent;
}

/* **************************** END SERVICES */

/* **************************** SMALL_BANNER */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-8 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.small_banner {
  min-height: 500px;
  background-color: #83e5de;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: lowercase;
  text-align: center;
  white-space: pre-wrap;
  font-weight: 700;
  font-style: italic;
  padding-top: 10rem;
}
.small_banner button {
  color: white;
  background-color: black;
  font-size: 15px;
  margin-top: 40px;
  border: none;
  max-width: 148.75px;
  line-height: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 6.5rem;
  padding-right: 10px;
  padding-left: 10px;
}

.small_banner_pic {
  /* background-image: url("https://st3.depositphotos.com/8687452/16794/i/1600/depositphotos_167943794-stock-photo-shirt-fold-stack.jpg"); */
  background-image: url("http://ejournalz.com/wp-content/uploads/2017/05/Wash-Clothes.jpg");
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* .fly-in{
  position: absolute;
  left: 50%;
  top: 50%;
  list-style: none;
  transform: translateX(-50%) translateY(-50%);
}
.fly-in li {
  display: inline-block;
  margin-right: 30px;
  font-family: sans-serif,helvetica;
  font-weight: 300;
  font-size: 38px;
  color: #e7e7e7;
  opacity: 1;
  transition: all 2.8s cubic-bezier(0.6, -.005, 0.32, 1.75);
}
.fly-in.hidden li {
  opacity: 0;
}
.fly-in.hidden li:nth-child(1) {
  transform: translateX(150px) translateY(-170px); 
}
.fly-in.hidden li:nth-child(2) {
  transform: translateX(-210px) translateY(170px); 
}
.fly-in.hidden li:nth-child(3) {
  transform: translateX(20px) translateY(-100px); 
}
.fly-in.hidden li:nth-child(4) {
  transform: translateX(-100px) translateY(-20px); 
}
.fly-in.hidden li:nth-child(5) {
  transform: translateX(-70px) translateY(-200px); 
}
.fly-in.hidden li:nth-child(6) {
  transform: translateX(200px) translateY(70px); 
}
.fly-in.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px); 
}
.fly-in.hidden li:nth-child(8) {
  transform: translateX(30px) translateY(-100px); 
}
.fly-in.hidden li:nth-child(9) {
  transform: translateX(100px) translateY(-170px); 
}
.fly-in.hidden li:nth-child(10) {
  transform: translateX(50px) translateY(50px); 
} */

/* **************************** END SMALL_BANNER */

/* **************************** Banner-running */
#banner_running {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 49px;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  position: relative;
  font-weight: 900;
  font-size: 4em;
}

#banner_running_text {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
#running_letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.ml16 {
  color: #402d2d;
  padding: 5px 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/* **************************** FOOTER */
.footer {
  min-height: 400px;
  background-color: #282f32;
  width: 100%;
  padding: 40px 0px;
  color: white;
  margin-top: 3.5rem;
}

.footer_abt p {
  color: #dddddd;
  line-height: 27px;
  text-align: left;
  font-size: 14px;
}
.footer_abt2 {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.footer_abt2 h3 {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
  color: #fff;
  text-align: left;
}
.footer_abt2 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #fff;
}
.footer_abt2 ul li a {
  display: block;
  margin-bottom: 7px;
  position: relative;
  background-position: 0px 8px;
  color: #dddddd;
  text-decoration: none;
  text-align: left;
}
.footer_abt2 a {
  text-decoration: none;
  color: #dddddd;
}

.copyright {
  float: left;
  width: 100%;
  padding: 17px 0px;
  border-top: 1px solid #384145;
  background: #2f373a;
  font-size: 14px;
  height: 60px;
  text-align: left;
  margin-top: 4.1rem;
  margin-bottom: 0px;
  color: #dddddd;
}
@media (min-width: 1280px) {
  .container {
    width: 1260px;
  }
}
.pull-right {
  padding-left: 5.5rem;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 70px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* **************************** LOGIN */
.Form_Login {
  width: 100%;
  height: calc(100vh - 116px);
  padding-top: 3rem;
}

.register_form_register {
  padding-top: 1.5rem !important;
  font-size: 14px;
}
.logo_form_register {
  padding-top: 6.8rem !important;
}
.signup_login_register {
  padding-top: 5px !important;
  display: flex;
  justify-content: center;
  line-height: 1px !important;
}
.signup_login_register a {
  display: inline;
}
.form-control-register {
  width: 170px !important;
}

.Form_Login h1 {
  font-size: 30px;
  padding-bottom: 1.5rem;
}

#form-control-login {
  background-color: #ffffff !important;
  width: 270px !important;
  text-align: center !important;
  margin: 0px auto 0 auto !important;
  display: block !important;
  width: 100%;
  height: 38px !important;
  padding: 6px 12px !important;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #1b75bc !important;
  border-radius: 50px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

#button_login {
  cursor: pointer;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #83e5de;
  border-radius: 50px;
  width: 270px;
  font-family: ProximaNova-Regular !important;
  font-size: 18px;
  border-color: white !important;
  padding: 0.4768rem 0.75rem !important;
  margin-bottom: 2rem;
}
.signup_login {
  line-height: 10px;
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  padding-top: 1.5rem;
}
.signup_login a {
  /* color: #83e5de; */
  color: #000;
  font-size: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05em;
  line-height: 1.7em;
  text-transform: none;
}
#logo_login {
  padding-top: 9rem;
}

/* **************************** SERVICE CHECK */
.service_check {
  padding-top: 9rem;
}

.service_check h1 {
  font-family: ProximaNovaSoft-Regular;
  font-size: 30px;
  line-height: 44px;
  /* color: #83e5de; */
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

#service_check_button {
  color: #000;
  cursor: pointer;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #83e5de;
  border-radius: 50px;
  width: 270px;
  font-family: ProximaNova-Regular !important;
  font-size: 14px;
  border-color: white !important;
  padding: 0.5768rem 0.75rem !important;
  margin-bottom: 2rem;
}
.fa-sign-in-alt {
  font-size: 2.3rem;
  color: #83e5de;
  position: relative;
  padding-top: 26px;
}
#circle {
  width: 95px;
  height: 96px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 57px;
  border: #83e5de solid;
  display: inline-block;
}

.zipcode_title {
  font-size: 14px;
  line-height: 8px;
}
.modal-title {
  font-size: 20px;
  margin: 0 0 2px 0;
  line-height: 1.3;
  text-align: center;
  font-family: objektiv-mk1;
  font-weight: 600;
  padding-top: 2rem;
  padding-right: 10px;
  padding-left: 10px;
}

.modal-subtitle {
  font-size: 18px;
  margin: 20px 0 5px 0;
  text-align: center;
  font-family: objektiv-mk3;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05em;
  line-height: 1.7em;
}

.modal-footer-service {
  border-top: none;
  justify-content: center;
}
.modal-footer-service button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal-content {
  border: none;
  padding-bottom: 5px;
  background-color: #83e5de;
}
#service-modal-input {
  width: 350px !important;
}
.modal-form-service {
  padding-left: 4rem;
  padding-top: 1.5rem;
}
#modal-label-service {
  font-size: 14px;
}
.modal-thanks {
  text-align: center;
  font-size: 18px;
  padding-top: 1rem;
}
.choose-your-district {
  text-align: center;
}

.alert_link {
  padding-left: 3rem;
}
.fa-question-circle {
  color: black;
  font-size: 13px;
  position: relative;
}

/* **************************** DASHBOARD */
/* .main_dashboard {
    width: 100%;
    float: left;
    padding: 15px 0px;
    min-height: 100px;
    height: calc(100vh - 106px);
    margin-top: 6rem;
} */
.dashboard_header {
  width: 100%;
  float: left;
  padding: 15px 0px;
  min-height: 100px;
  background: #eee;
  height: calc(45vh - 106px);
  margin-top: 6rem;
}
.dashboard_avatar {
  width: 95px;
  border-radius: 553px;
  margin-top: 16px;
}
.dashboard_userinfo h3 {
  margin-top: 0px;
  font-size: 20px;
  padding-top: 15px;
  color: #249bce;
  padding-bottom: 7px;
}
.dashboard_userinfo {
  padding-left: 2rem;
  text-align: left;
  line-height: 15px;
}
.dashboard_nav {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.dashboard_nav_col {
  font-weight: bold;
  border: 1px solid #ddd;
  color: #333;
  font-size: 15px;
  border-radius: 5px;
  position: relative;
  display: block;
  padding: 10px 12px;
  flex-grow: 0;
  padding: 0;
  border: none;
}
.dashboard_nav_col img {
  width: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.dashboard_nav_col .card {
  background: white;
  cursor: pointer;
  width: 16rem !important;
}

.dashboard_nav_col .card:focus {
  font-weight: bold;
}

.dashboard_h5 {
  font-size: 15px;
  font-weight: 450 !important;
}
.dashboard_nav_col a {
  text-decoration: none;
  color: #000;
}

.dashboard_nav_col .card-body {
  padding: 10px;
}
.dashboard_nav_col .card:focus {
  background: #f1f1f1;
}

/* **************************** SERVICES */
.service_main {
  height: calc(200vh - 106px);
  background-color: grey;
  padding-top: 7rem;
}
.service_banner {
  height: 200px;
  background-image: url("http://2.bp.blogspot.com/-a8D83LTuLp4/TkHJ4YzdQOI/AAAAAAAADmk/FTDy63FjRCc/s1600/MintSky.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ordering-process {
  display: flex;
  padding-top: 10rem;
}
.ordering-process .schedule_badge {
  padding: 1.25em 3.4em !important;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  border-radius: none;
}

.ordering-process img {
  width: 40px;
}
.badge {
  padding: 2.25em 3.4em !important;
}
.serv_was_box {
  float: left;
  width: 300px;
  border: 1px solid #ddd;
  height: 90px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  cursor: pointer;
  color: #aaa;
  margin: 0;
}
/* #serv_box3 {
  margin-top: 30px;
} */
/* #serv_box4 {
  margin-top: 30px;
} */
#serv1 {
  margin-left: 2rem;
}

#serv3 {
  margin-left: 2rem;
}
/* 
.schedule_badge::after {
  border-left: 22px solid !important;
  position: relative;
  right: -67px;
  top: -9px;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 20px solid #eeeeee;
  border-bottom: 30px solid transparent;
} */
.checkbox {
  visibility: hidden;
  /* display: none; */
}
.schedule_servicetype {
  padding-left: 50px;
}

.schedule_servicetype h1 {
  font-size: 18px;
  padding-left: 1rem;
  padding-bottom: 20px;
}
.schedule_servicetype #schedule_row {
  padding-left: 1.5rem;
}

.serv_was_box:focus {
  color: #1976d2;
  border: 1px solid #1976d2 !important;
  font-weight: 600;
}

.schedule_button {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.schedule_button button + button {
  background: #00539a;
  padding: 8px 12px;
  margin: 0px 10px;
  color: white;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.schedule_button #previous_button {
  background: #666;
  padding: 8px 12px;
  margin: 0px 10px;
  color: white;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.schedule_button .disabled:hover {
  cursor: not-allowed;
}
.step1_icon {
  width: 40px;
  color: grey;
  border-color: grey;
}

.date_main {
  display: flex;
  padding-left: 1rem;
}

.schedule_col:focus {
  border: 1px solid #1976d2 !important;
  background: #1976d2 !important;
  color: white;
}
.schedule_col {
  float: left;
  width: 100%;
  padding: 4px 5px !important;
  border: 1px solid #aaa;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  text-align: center;
  margin: 10px;
  font-size: 13px;
  padding: 3px;
  height: 54px !important;
}
.schedule_col:hover {
  cursor: pointer;
}
.radio_btn {
  color: white;
  visibility: hidden;
  display: none;
}
.radio_btn:checked {
  border: 1px solid #1976d2 !important;
  background: #1976d2 !important;
}
.date-container {
  padding-top: 5px;
}
.date-container .day {
  font-weight: 500;
  font-size: 12px;
}
.schedule_time h3 {
  font-size: 14px;
  padding-left: 1rem;
  padding-bottom: 20px;
  padding-top: 1rem;
}

.schedule_address_detail h1 {
  font-size: 16px;
  padding-left: 4rem;
  padding-bottom: 20px;
  padding-top: 1rem;
  text-align: left;
}

.addre_main {
  display: flex;
}
.addre_box {
  border: 1px solid #aaa;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  cursor: pointer;
  height: 207px;
  width: 413px;
  margin-left: 4rem;
}

.addre_box:focus {
  border: 1px solid #1976d2 !important;
}

.addre_box .new button:focus {
  border: none;
}
.addre_box h3 {
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
}
.addre_head {
  display: flex;
  justify-content: space-between;
}
.addre_con {
  text-align: left;
  padding-left: 20px;
  padding-top: 1rem;
  font-size: 15px;
  font-weight: 500;
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.new button {
  border: 0px;
  background: none;
  color: #01529a;
  cursor: pointer;
  padding-top: 5rem;
}

/* .step-anchor .active .sa_inner:after {
  border-left: 20px solid #4baf50;
}
.sa_inner::after {
  position: relative !important;
  right: -20px;
  top: 0px;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 20px solid #eeeeee;
  border-bottom: 30px solid transparent;
} */

.date_main .radio_btn:checked + label.date-container:after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #1975d2;
}

.schedule_col::after:focus {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #1975d2;
}

.first_date:focus {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #1975d2;
}

.schedule_result h1 {
  font-size: 18px;
  padding-left: 4rem;
  padding-bottom: 20px;
  text-align: left;
}

.schedule_result h3 {
  font-size: 15px;
  padding-bottom: 20px;
  text-align: left;
}
/* .service_result h3 {
  padding-left: 4rem;
} */
.service_result div {
  text-align: left;
  height: 35px;
  margin-left: 4rem;
}

.date_result {
  /* display: flex; */
  padding-top: 2rem;
}
.date_result h3 {
  padding-left: 4rem;
}

.schedule_date_detail {
  display: flex;
  padding-left: 4rem;
}

.date_detail_pickupdate {
  padding-left: 2rem;
  border: 2px solid darkgray;
  border-radius: 11px;
  padding: 40px;
  padding-left: 156px;
  font-weight: 600;
  font-weight: 600;
  padding: 34px;
  font-size: 13px;
}

.date_detail_pickuptime {
  margin-left: 4rem;
  border: 2px solid darkgray;
  border-radius: 11px;
  font-weight: 600;
  font-size: 13px;
  padding-right: 129px;
  padding: 50px;
  padding-left: 65px;
}

.address_result {
  padding-top: 2rem;
}

.address_result h3 {
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.address_result p {
  text-align: left;
  padding-left: 4rem;
}
.schedule_service_detail {
  border: 2px solid darkgrey;
  border-radius: 11px;
  padding: 14px;
  padding-left: 17px;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 43px;
  font-size: 14px;
}

.Nav_dropdown:hover > .fa-user-circle {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-user-circle {
  padding-right: 8px;
}

@media screen and (min-width: 768px) {
  .show-grid col {
    flex: 0 0 16.666667% !important;
    max-width: 13.666667% !important;
  }
}
.ap_hw {
  cursor: pointer;
  border: 2px solid slategrey;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 13.666667% !important;
  }
}

.address-form-group label {
  color: slategrey;

}

.address_type label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.address-modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
}

.address-modal-footer button {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.address-modalheader {
  padding: 0;
  padding-bottom: 10px;
}
